<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

 
    <appSettings>
      <add key="SERVERTYPE" value="FbServerType.Embedded"/>
      <add key="USERID" value="SYSDBA"/>
      <add key="PASSWORD" value="masterkey"/>
      <add key="DIALECT" value="3"/>
      <add key="DATABASE" value="C:\Databasesfirebird\TRUCKDB.FDB"/>
      <add key="CHARSET" value="UTF8"/>
      <add key="ClientSettingsProvider.ServiceUri" value=""/>
    </appSettings>

  </configuration>